<section class="aboutPanel">
      <div class="sectionTitle">
      	<div>ABOUT ME</div>
      </div>
      <div class="sectionBody">
      	<info-blurb noimage>
      		<div style="font-size:1.5rem">As a UX Engineer, I bridge the gap between designers and developers. I pride myself on my ability to find clever solutions to complex design and programming problems. I’ve worked on software products spanning embedded, mobile, and desktop applications, consistently delivering exceptional results. I adapt quickly and am not afraid to jump into unfamiliar territory and learn new skills.</div>
      	</info-blurb>
      	<info-blurb imageUrl="url('../images/icons/education.svg')" medium>
      		<div>
      			<h1>Master of Human-Computer Interaction</h1>
      			<h2>Carnegie Mellon University, 2012</h2>
      			<h1>BS Computer Science, with Highest Distinction</h1>
      			<h2>University of Virginia, 2011</h2>
      			<h3>Minors in Systems Engineering and Applied Mathematics</h3>
      		</div>
      	</info-blurb>
      	<info-blurb imageUrl="url('../images/icons/experience.svg')" small>
      		<div>
      			<h1>Senior Interaction Designer</h1>
      			<h2>Eaton, 2014-current</h2>
      			<h1>Interaction Designer</h1>
      			<h2>Eaton, 2012-2014</h2>
      			<h1>Technical Lead, Documentation Co-Lead</h1>
      			<h2>MHCI Capstone Project (CMU / Shoefitr), 2012</h2>
      			<h1>Researcher, Developer, Co-Author</h1>
      			<h2>“Using Crowdsourcing to Enhance Crisis Management”, 2011</h2>
      			<h1>Javascript Programmer</h1>
      			<h2>Telos Corporation, 2009-2010</h2>
      		</div>
      	</info-blurb>
      	<info-blurb imageUrl="url('../images/icons/skills.svg')" small>
      		<div>
      			<h1>Programming</h1>
      			<h2>Javascript, HTML/CSS, Polymer, React, Angular 2, Actionscript, C++, C#, ExtJS, Java, PHP, SASS, SQL, XAML, XML</h2>
      			<h1>HCI Methods</h1>
      			<h2>Wireframing, Prototyping, Heuristic Evaluation, Affinity Diagramming, Contextual Inquiry, Modeling, Speed Dating, Storyboarding, Think-Alouds</h2>
      		</div>
      	</info-blurb>
      </div>
</section>