:host /deep/ .panel{
	height: auto;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,.07);
	padding: 4rem 2rem;
}
:host portfolio-panel /deep/ .panel{
	background: rgba(0,0,0,.03);
}
:host /deep/ .sectionTitle{
    font-family: 'DIN_Cond',sans-serif;
    font-size: 6rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
:host /deep/ .sectionBody{
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 75rem;
}
@media (max-width: 500px){
	:host /deep/ .sectionTitle{
		font-size: 4rem;
		line-height: 4rem;
	}
}