.contactPanel{
	height: auto;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,.1);
	padding: 4rem 2rem;
}
.sectionTitle{
    font-family: 'DIN_Cond',sans-serif;
    font-size: 6rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.sectionBody{
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 75rem;
}
.footer{
	width:100%;
	text-align:center;
	font-size: 1.2rem;
}
.contactButtons{
/*	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;*/
	padding-top: 4rem;
	text-align: center;
}



/* Responsive Styles */
@media (max-width: 440px){
	.contactButtons{
		flex-direction: column;
	}
}
@media (max-width: 350px){
	.sectionTitle{
		font-size: 4rem;
		line-height: 4rem;
	}
}