<section class="contactPanel">
      <div class="sectionTitle">
      	<div>CONTACT INFO</div>
      </div>
      <div class="contactButtons">
            <social-button imageUrl="url('../images/icons/social/fb.svg')" linkUrl="https://www.facebook.com/joseph.boyle.50"></social-button>
            <social-button imageUrl="url('../images/icons/social/li.svg')" linkUrl="https://www.linkedin.com/profile/view?id=111377795"></social-button>
            <social-button imageUrl="url('../images/icons/social/email.svg')" linkUrl="mailto:boyle.p.joseph@gmail.com"email></social-button>
            <social-button imageUrl="url('../images/icons/social/hr.svg')" linkUrl="https://www.hackerrank.com/joebochill"></social-button>
            <social-button imageUrl="url('../images/icons/social/ig.svg')" linkUrl="https://www.instagram.com/joebochill"></social-button>
      </div>
      <div class="sectionBody">
<!--             <div class="emailForm">
                  <h1>EMAIL ME</h1>
                  <div>
                        <div>Your Name:</div>
                        <input placeholder="First Last" type="text"/>
                  </div>
                  <div>
                        <div>Your Email:</div>
                        <input placeholder="youraddress@yourcompany.com" type="text"/>
                  </div>
                  <div class="message">
                        <div>Your Message:</div>
                        <textarea placeholder="Enter your message here"></textarea>
                  </div>
                  <div><button class="sendButton">SEND</button></div>
            </div> -->
            <div class="footer">
                  Copyright &#9400; 2017<br/>
                  Joseph P. Boyle<br/>
                  All Rights Reserved
            </div>
      </div>
</section>