.contactPanel{
	height: auto;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,.1);/* change me to an image */
	padding: 4rem 2rem;
}
.sectionTitle{
    font-family: 'DIN_Cond',sans-serif;
    font-size: 6rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.sectionBody{
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 75rem;
}
/*.emailForm{
	border: 0.2rem solid #171717;
	padding: 1rem;
}
.emailForm>div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.emailForm>div:not(:last-child){
	margin-bottom: 1rem;
}
.emailForm>.message{
	align-items: flex-start;
}
.emailForm>div>div:first-child{
	flex: 0 0 auto;
	font-family: 'DIN_Cond', sans-serif;
	font-size: 1.5rem;
	min-width: 8rem;
}*/
/*input{
	font-family: 'DIN', sans-serif;
	font-weight: 800;
	height: 3rem;
	flex: 1 1 0px;
	min-width: 0px;
	padding: 0.5rem;
	border:0.2rem solid transparent;
}
textarea{
	font-family: 'DIN', sans-serif;
	font-weight: 800;
	width: 100%;
	height: 10rem;
	padding: 0.5rem;
	border:0.2rem solid transparent;
	max-height: 24rem;
}
input:focus, textarea:focus{
	outline: none;
	border-color: #0e6eb8;
}
h1{
	font-family: 'DIN_Cond', sans-serif;
	font-size: 3rem;
	margin: 0;
	margin-bottom: 1rem;
}
.sendButton{
	width: 12rem;
	padding: 0.5rem;
	font-family: 'DIN_Cond', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	cursor: pointer;
	border: .2rem solid #171717;
    background: linear-gradient(to bottom, rgba(33, 146, 230, 0.4), rgba(33, 146, 230, 0.9));
}
.sendButton:focus{
	outline: none;
}
.sendButton:hover{
    background: linear-gradient(to bottom, rgba(33, 146, 230, 0.2), rgba(33, 146, 230, 0.7));
}
.sendButton:active,.sendButton:active:hover{
    background: linear-gradient(to bottom, rgba(33, 146, 230, 0.4), rgba(33, 146, 230, 0.9));
}*/
.footer{
	width:100%;
	text-align:center;
	/*margin-top:4rem;*/
	font-size: 1.2rem;
}
.contactButtons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 4rem;
}