<section class="panel">
      <div class="sectionTitle">
      	<div>WHERE TO FIND ME</div>
      </div>
      <div class="contactButtons">
            <social-button type="fb"    [linkUrl]="fbLink"></social-button>
            <social-button type="li"    [linkUrl]="liLink"></social-button>
            <social-button type="email" [linkUrl]="emailLink"></social-button>
            <social-button type="hr"    [linkUrl]="hrLink"></social-button>
            <social-button type="ig"    [linkUrl]="igLink"></social-button>
      </div>
      <div class="sectionBody">
            <div class="footer">
                  Copyright &#9400; {{currentDate|date:'y'}}<br/>
                  Joseph P. Boyle<br/>
                  All Rights Reserved
            </div>
      </div>
</section>