<div *ngIf="(type=='plain' || type=='loading') && data" class="blurbBody">
	<div class="blurbContent">
		<div>{{data}}</div>
	</div>
</div>

<div *ngIf="type=='education' && data" class="blurbBody">
	<div class="blurbHeader">
		<div class="blurbImage" style="background-image:url('./images/icons/education.svg');"></div>
	</div>
	<div class="blurbContent">
		<div *ngFor="let edu of data" class="itemWrapper">
			<h1>{{edu.degree}}</h1>
  			<h2>{{edu.school}}, {{edu.year}}</h2>
  			<h3 *ngIf="edu.notes">{{edu.notes}}</h3>
  		</div>
	</div>
</div>

<div *ngIf="type=='employment' && data" class="blurbBody">
	<div class="blurbHeader">
		<div class="blurbImage" style="background-image:url('./images/icons/experience.svg');"></div>
	</div>
	<div class="blurbContent">
		<div *ngFor="let exp of data" class="itemWrapper">
			<h1>{{exp.title}}</h1>
  			<h2>{{exp.company}}, {{exp.start}}{{exp.end? "-" + exp.end:""}}</h2>
  		</div>
	</div>
</div>

<div *ngIf="type=='skills' && data" class="blurbBody">
	<div class="blurbHeader">
		<div class="blurbImage" style="background-image:url('./images/icons/skills.svg');"></div>
	</div>
	<div class="blurbContent">
		<div *ngIf="data.programming" class="itemWrapper">
			<h1>Programming</h1>
  			<h2>{{data.programming.join(", ")}}</h2>
  		</div>
  		<div *ngIf="data.hci" class="itemWrapper">
			<h1>HCI Methods</h1>
  			<h2>{{data.hci.join(", ")}}</h2>
  		</div>
	</div>
</div>

<div *ngIf="type=='project' && data" [ngClass]="{'blurbBody':true,'expanded':expanded}">
	<div class="blurbHeader" (click)="toggle()" style="cursor:pointer">
		<div class="blurbImage" [style.background-image]="'url('+data.overview.thumb+')'"></div>
		<div class="blurbExpander">
			<div class="toggleWrapper">
				<div class="toggleIcon"></div>
				<a class="showHide">{{expanded?'Show Less':'Show More'}}</a>
			</div>
		</div>
	</div>
	<div class="blurbContent">
		<div class="itemWrapper">
			<h1>{{data.overview.name}}</h1>
			<h2 [innerHtml]="data.overview.description"></h2>
		</div>
		<div class="itemWrapper">
  			<project-details [images]="data.images" [details]="data.details"></project-details>
  		</div>
	</div>
</div>



<div *ngIf="
	type!='education' && 
	type!='employment' && 
	type!='skills' && 
	type!='plain' && 
	type!='loading' &&
	type!='project'" 
	class="blurbBody">
	<div *ngIf="imageUrl" class="blurbImage" [style.background-image]="imageUrl"></div>
	<div class="blurbContent">
		<ng-content></ng-content>
	</div>
</div>