<section class="portfolioPanel">
      <div class="sectionTitle">
      	<div>PORTFOLIO</div>
      </div>
      <div class="sectionBody">
      	<info-blurb noimage>
      		<div style="font-size:1.5rem">I have extensive experience across a wide range of different projects. Below you will find some highlights of some of my recent work. </div>
      	</info-blurb>
      	<info-blurb imageUrl="url('../images/thumbs/pxblue.png')">
      		<div>
      			<h1>Foreseer</h1>
      			<h2>Foreseer is an enterprise monitoring solution that connects your operation’s vast array devices (WAGES – water, air, gas, electric, and steam), giving them the ability to be monitored, regardless of manufacturer or model, to help you reduce energy consumption and help avoid unplanned downtime due to the failure of critical systems</h2>
      		</div>
           	</info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/pxblue.png')" reverse>
                  <div>
                        <h1>Power Xpert Blue</h1>
                        <h2>PXBlue is a design system for Eaton web applications. It consists of reusable Web Components (built using Polymer), icons, and symbols, as well as definitions for colors, typography, design patterns, etc.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/pxr.png')">
                  <div>
                        <h1>PXR-35</h1>
                        <h2>The PXR-35 is a digital trip unit responsible for controlling a circuit breaker. It is the first trip unit Eaton will offer that features a touch screen user interface. My primary responsibility on this project was to develop concepts for the touch screen interface based on the functionality of existing trip unit products with a focus on utilizing the current Power Xpert design language standards.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/pxi.png')" reverse>
                  <div>
                        <h1>Power Xpert Insight</h1>
                        <h2>Power Xpert Insight was the first project I worked on after joining Eaton Corporation in the Fall of 2012. This was the first attempt at bringing User-Centered Design to Eaton's product line. PXI is an online power and energy monitoring solution. It connects to electrical devices and displays assorted information from those devices, including real time values, historical trends, and alarms for traits such as current, voltage, power, etc.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/wow.png')">
                  <div>
                        <h1>Winking Owl Writing</h1>
                        <h2>Winking Owl Writing was a volunteer project I undertook for a friend. Winking Owl provides an assortment of writing and editing services for writers of all ages. One of these services is online editing, where users can upload files and have them edited and returned via email.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/stride.png')" reverse>
                  <div>
                        <h1>Stride</h1>
                        <h2>For my MHCI Capstone Project, I worked on a team of four to assist Shoefitr, a Pittsburgh-based startup company. Our overall goal was to improve the way individuals shop for shoes online. We spent a total of four months in the field researching how people shop for shoes, both online and in brick-and-mortar stores.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/tuner.png')">
                  <div>
                        <h1>Arduino Guitar Tuner</h1>
                        <h2>For this project, I built a bass guitar tuner that is controlled by an Arduino Nano. The guitar plugs in using a standard 1/4 inch instrument jack. The user can adjust the dial to the note he would like to tune to and then pluck the string. The signal is amplified and processed using the Arduino. An LCD screen displays the played pitch relative to the desired pitch.</h2>
                  </div>
            </info-blurb>
            <info-blurb imageUrl="url('../images/thumbs/ctc.png')" reverse>
                  <div>
                        <h1>Crowdsourcing the Crisis</h1>
                        <h2>"Crowdsourcing the Crisis" puts the power of information back into the hands of the people during emergencies. It allows users to submit and view reports of activities in their surrounding areas throughout the course of an event. System administrators can also send out alerts to registered individuals via email and SMS text message.</h2>
                  </div>
            </info-blurb>
      </div>
</section>