<section class="portfolioPanel">
      <div class="sectionTitle">
      	<div>PORTFOLIO</div>
      </div>
      <div class="sectionBody">
       	<info-blurb type="plain" [data]="'I have extensive experience across a wide range of different projects. Below you will find some highlights of some of my recent work.'"></info-blurb>
            <info-blurb *ngFor="let project of projectInfo; let e=even;" type="project" [data]="project" [attr.reverse]="e?null:''"></info-blurb>
      </div>
</section>