.portfolioPanel{
	height: auto;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,.05);
	padding: 4rem 2rem;
}
.sectionTitle{
    font-family: 'DIN_Cond',sans-serif;
    font-size: 6rem;
    line-height: 5rem;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.sectionBody{
    padding-top: 4rem;
    margin: 0 auto;
    max-width: 75rem;
}