@font-face {
    font-family: "DIN";
    font-weight: regular;
    src: url('./fonts/din_reduced.ttf');
}
@font-face {
    font-family: "DIN";
    font-weight: bold;
    font-weight: ;
    src: url('./fonts/dinbold_reduced.ttf');
}
@font-face {
    font-family: "DIN_Cond";
    font-weight: regular;
    src: url('./fonts/dincond_reduced.otf');
}
@font-face {
    font-family: "DIN_Cond";
    font-weight: bold;
    src: url('./fonts/dincondbold_reduced.otf');
}

html{
	height: 100%;
	width: 100%;
    font-family: 'DIN', sans-serif;
	font-size: 14px;
}
body{
	height: 100%;
	width: 100%;
	margin:0;
}
body *{
	box-sizing: border-box;
}

